@model MyFirstWebApp.Models.Note
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<p>
    <button class="button" data-modal="modalOne">Contact Us</button>
</p>
<div id="modalOne" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close">&times;</a>
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@this.Model.NoteTitle" class="control-label">Subject</label>
                    <input asp-for="NoteTitle" class="form-control" required />
                    <span asp-validation-for="NoteTitle" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NoteBody" class="form-label mt-4">Explain Issue</label>
                    <textarea asp-for="NoteBody" class="form-control" rows="5" required></textarea>
                    <span asp-validation-for="NoteBody" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Priority" class="control-label"></label>
                    <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<PriorityLevel>()">
                        <option>Select Priority Level</option>
                    </select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>

                <br />

                <input type="hidden" value="@User.Identity.Name" asp-for="User" />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let modalBtns = [...document.querySelectorAll(".button")];
    modalBtns.forEach(function (btn) {
        btn.onclick = function () {
            let modal = btn.getAttribute("data-modal");
            document.getElementById(modal).style.display = "block";
        };
    });
    let closeBtns = [...document.querySelectorAll(".close")];
    closeBtns.forEach(function (btn) {
        btn.onclick = function () {
            let modal = btn.closest(".modal");
            modal.style.display = "none";
        };
    });
    window.onclick = function (event) {
        if (event.target.className === "modal") {
            event.target.style.display = "none";
        }
    };
</script>