
<h1>@ViewData["Title"]</h1>


<div class="container shadow-lg p-5 mt-5 col-6">
    <div class="border p-5">
        <h3>In due time, god willing, this will be an "app-about-me page".</h3>


    </div>
</div>
