@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Notes App</h1>
    <p>We are attempting to make a note taking app</a>.</p>
    <p>DOES LIVE UPDATES WORK????</a>.</p>
    <p>DO I HAVE TO SAVE FIRST</p>
    <p>YES I THINK SO</p>
</div>
