@{
    ViewData["Title"] = "Home Page";
}




<div class="container p-5 col-6">
    <div class="border p-5 mt-5">
        <<div class="text-center">
            <h1 class="display-4">ProJect Manager Issue Tracker</h1>
        </div>
    </div>
</div>
