@model IEnumerable<MyFirstWebApp.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<div class="container shadow-lg p-5 mt-5 col-6">
    <div class="border p-5">
        <h3>
            Is This Thing Working???
        </h3>
    </div>
</div>
