@model MyFirstWebApp.Models.Note


@{
    ViewData["Title"] = "Create";
}
<div class="container shadow-lg mt-5 p-5 col-6">
    <div class="border p-5">
        <h2 class="text-uppercase">
            Create a New Issue!
        </h2>
        <div class="row pb-2">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="NoteTitle" class="control-label">Subject</label>
                        <input asp-for="NoteTitle" class="form-control" required />
                        <span asp-validation-for="NoteTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="NoteBody" class="form-label mt-4">Explain Issue</label>
                        <textarea asp-for="NoteBody" class="form-control" rows="5" required></textarea>
                        <span asp-validation-for="NoteBody" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Priority" class="control-label"></label>
                        <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<PriorityLevel>()">
                            <option>Select Priority Level</option>
                        </select>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                </div>
                <br />

                <input type="hidden" value="@User.Identity.Name" asp-for="User" />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
