@model MyFirstWebApp.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<div class="container shadow-lg mt-5 p-5 col-6">
    <div class="border p-5">
        <div class="row">
            <div class="row pt-2">
                <h2>EDIT ISSUE</h2>
            </div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="User" value="@User.Identity.Name" />
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="NoteTitle" class="control-label"></label>
                        <input asp-for="NoteTitle" class="form-control" required />
                        <span asp-validation-for="NoteTitle" class="text-danger"></span>
                    </div>
                </div>
                <br/>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="NoteBody" class="control-label"></label>
                        <textarea asp-for="NoteBody" class="form-control" rows="5" required></textarea>
                        <span asp-validation-for="NoteBody" class="text-danger"></span>
                    </div>
                </div>
                <br/>
                <div class=" col-4">
                    <div class="form-group">
                        <label asp-for="Priority" class="control-label"></label>
                        <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<PriorityLevel>()">
                            <option>Select Priority Level</option>
                        </select>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                </div>
                <br/>
                <div class="form-check form-switch">
                    <label asp-for="Resolved" class="form-check-label"></label>
                    <input type="checkbox" asp-for="Resolved" class="form-check-input" id="flexSwitchCheckDefault" />
                    <span asp-validation-for="Resolved" class="text-danger"></span>
                </div>
                <br/>
                <div class="row pt-2">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button class="btn btn-outline-info" asp-action="Index">Back To List</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
